$body-bg: #f2f2f2;

$primary: #00A779;
$secondary: #AFE0A4;
$danger: #CC5A46;
$success: #27AE60;
$warning: #FF7F50;
$info: #CAEBC2;
$dark: #2B2B2B;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: #4F4F4F;
$gray-dark: darkslategray;
$light: #EBEBEB;
$medium:  #3d3d3d;
$light-gray: #d6d6d6;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "light": $light,
  "medium": $medium,
  "light-gray": $light-gray,
);

$color-ranges: (
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40
)